{% extends 'layout.html' %}

{% block head %}
    <title>Main Page</title>
{% endblock %}

{% block body %}
    <h1 class="text-center">Update Task:{{ task.id }}</h1>

    <form action="/update/{{ task.id }}" method="POST" class="w-50 mx-auto mt-5 row justify-content-center">
        <input
            type="text" name="task"
            class="form-control col-6 mr-1"
            placeholder="Add Task"
            value="{{ task.content }}"
        />
        <input type="submit" value="Update" class="btn btn-primary d-block col-2 ml-1">
    </form>
{% endblock %}